/* GLOBAL SETTINGS */

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

/* SEE ALL DIVS FOR EDITING PURPOSES */

div {
  border: 1px solid black;
}

/* HEADER BAR SETTINGS */

header {
  height: 50px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

#mainButton {
  height: 50px;
  width: 50px;
}

#menuTitle {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

#whoIsFront {
  padding-left: 10px;
  font-size: 20px;
}

/* BUTTONS */

.headerButton {
  width: 60px;
}

#switchButton {
  height: 50px;
}

#newAlterButtons {
  display: none;
}

#saveButton {
  height: 30px;
}

#cancelButton {
  height: 20px;
}

/* HEADER MENUS */

.switchClose {
  display: none;
}

.switchExpand {
  display: block;
  position: absolute;
  z-index: 1;
  width: 200;
  height: 100;
  left: auto;
  right: 0;
  margin-right: 5%;
  background-color: white;
}

.mainClose {
  display: none;
}

.mainExpand {
  display: block;
  position: absolute;
  z-index: 1;
  width: 200;
  height: 100;
  left: 0;
  right: auto;
  /* margin-right:-10px; */
  background-color: white;
}

/* MAIN - CONTENT AREA SETTINGS */

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  flex-grow: 10;
}

/* CHAT VIEW */

#chatView {
  flex-grow: 10;
  width: 100%;
  display: flex;
  flex-flow: column-reverse nowrap;
  justify-content: space-between;
  align-items: left;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 89vh;
}

.postTitle {
  padding: 0;
  margin: 0;
}

.postText {
  padding: 0;
  margin: 0;
}

/* NEW MESSAGE FIELD AT BOTTOM */

#newMsgText {
  width: 100%;
  /* position: absolute; */
  bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-items: center;
}

#newMsgField {
  flex-grow: 1;
}
